<ul class="nav flex-column">
   
    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/home">Home</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/products">Display</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/form">Add</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/product">Find</a>
    </li>
    
  </ul>