<h2> {{1500.56 | currency:'CAD'}} </h2 >
    <h2> {{1500.56 | currency:'CAD':"symbol-narrow"}} </h2 >
  
    <hr/>
  
    <h2>{{emp| json}}</h2>
  
    <hr/>
  
    <h1>{{ name | lowercase}}</h1>
    <h1>{{name | uppercase}}</h1>
  
      <hr/>
    <h2> {{date}}</h2>
    <h2> {{date | date}}</h2>
    <h2> {{date | date:'shortDate'}}</h2>
    <h2> {{date | date:'longDate'}}</h2>
    <h2> {{date | date:'shortTime'}}</h2>
    <h2> {{date | date:'longTime'}}</h2>
    <h2> {{date | date:'M/d/yyyy'}}</h2>
    <h2> {{date | date:'MM/d/yyyy'}}</h2>
    <h2> {{date | date:'MMM/d/yyyy'}}</h2>
    <h2> {{date | date:'MMMM/d/yyyy'}}</h2>
    <h2> {{date | date:'MMMMM/d/yyyy'}}</h2>
    <h2> {{date | date:'dd/MM/yyyy'}}</h2>
    <h2> {{date | date:'yyyy/MM/d'}}</h2>
    <h2> {{date | date:'fullDate'}}</h2>
    <hr/>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  